/* line 1, ../scss/main.scss */
body {
  background-image: url("../img/bg.jpg");
  font-family: helvetica, arial, sans-serif;
}

/* line 6, ../scss/main.scss */
h1 {
  font-weight: bold;
  font-size: 30px;
}

/* line 11, ../scss/main.scss */
h2 {
  font-weight: bold;
  font-size: 24px;
}

/* line 16, ../scss/main.scss */
h3 {
  font-size: 18px;
  margin: 0px;
  line-height: 30px;
}

/* line 23, ../scss/main.scss */
.underline {
  text-decoration: underline;
}

/* line 27, ../scss/main.scss */
header {
  padding: 10px 20px;
  width: 100%;
  background: black;
  margin-bottom: 20px;
}

/* line 34, ../scss/main.scss */
.container {
  background-color: #fff;
  padding: 20px;
}

/* line 39, ../scss/main.scss */
.logo-img {
  float: left;
}

/* line 45, ../scss/main.scss */
.contribute input[type=submit] {
  width: 80%;
  margin-left: 10%;
  height: 40px;
}

/* line 52, ../scss/main.scss */
textarea {
  width: 100%;
  min-height: 240px;
}

/* line 57, ../scss/main.scss */
.second-pane {
  background-color: #428bca;
  color: #fff;
  margin: 40px 0px 40px 0px;
  padding: 20px 0px 40px 0px;
  text-align: center;
}
/* line 63, ../scss/main.scss */
.second-pane input[type=email] {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
/* line 69, ../scss/main.scss */
.second-pane input[type=submit] {
  width: 80%;
  height: 40px;
}

/* line 75, ../scss/main.scss */
.error {
  color: red;
}

/* line 79, ../scss/main.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 87, ../scss/main.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 95, ../scss/main.scss */
footer {
  text-align: center;
}
